{% extends "base.html" %}

{% block content %}

<h2>Add new member</h2>



<section>
<div>
<a class="authentication-button" href="/admin"> Back</a>
</div>          
</section>

</br>

<!-- <div class="banner">
  <p>This is a temporary method to add new members, as we progress to migrate all of our members to email credentials and role based login.</p>
</div> -->

<h3>Create User Credentials</h3>
<p>To create user credentials, enter the role and email address. If this user is not in the system, they will receive an email to set a password. If they are already in the system, they will be associated with the role and can log in using their existing password.</p>

<!--- <hr style="height:1px;border-width:0;color:gray;background-color:#DADADA">

<p class="small">• Create legacy role with the given name [Only during test phase].<br>• Create legacy credential user with the same username as Legacy role name and a random hidden password. [This Legacy ‘user’ type is so we can trigger manual password resets for Legacy passwords]<br>• If an email address is supplied, and the User is not known, an email will be sent to the User to create a new password, which will trigger the create password flow.<br></p> --->

<br>
<!------ FORM ------>
<form class="authentication-form" method="post">{% csrf_token %}
	
  {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
		<p>{{ field.label_tag }}</p>
		<p>{{ field }}</p>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
	<br>
	

	
	<input type="submit" value="Add new">
</form>
<!------ FORM ------>
{% endblock %}
