{% load static %}
<!doctype html>
<html lang="en">

<!-- Header --->
	<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crossref Authenticator</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
<!-- Header --->

<!-- Body --->
  <body>
    <div class="header">
      <div class="header-content">
        <img src="https://assets.crossref.org/logo/crossref-logo-landscape-200.svg" alt="Crossref logo">
      </div>
    </div>

    <div class="content">
        <div id="environment-banner"></div>
      {% block content %}{% endblock %}
    </div>


    <script type="application/javascript" src="{% static 'js/get-environment.umd.min.js' %}"></script>
  </body>
<!-- Body --->

</html>
