{% extends "base.html" %}

{% block content %}

<h2>Migrate users to keycloak</h2>



<section>
<div>
<a class="authentication-button" href="/admin"> Back</a>
</div>          
</section>

</br>


<h3>Keycloak credentials</h3>
<p>This process will migrate users that have 512bit password into keycloak. In the following table you can see how many users are ready to be moved:</p>

<table border=1>
  <th>
    <td> Total users </td>
    <td> Compatible users </td>
    <td> Incompatible users </td>
  </th>
  <tr>
    <td> # </td>
    <td> {{ compatible_users|add:non_compatible_users }} </td>
    <td> {{ compatible_users }} </td>
    <td> {{ non_compatible_users }} </td>
  </tr>
</table>

<p>The password for the user admin on Keycloak will be needed to start the migration.</p>

<br>
{% if keycloak_server %}
<!------ FORM ------>

<code><b>KEYCLOAK_SERVER: </b>{{ keycloak_server  }}</code>

<form class="authentication-form" method="post">{% csrf_token %}
	
  {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
		<p>{{ field.label_tag }}</p>
		<p>{{ field }}</p>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
	<br>
	

	
	<input type="submit" value="Start migration">
</form>
<!------ FORM ------>
{% else %}

<p>You cannot run this migration if you have not set up a keycloak server URL in the settings variable <b>KEYCLOAK_SERVER</b></p>

{% endif %}
{% endblock %}
