{% extends "admin/base_site.html" %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block title %}Reset password{{ block.super }}{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}

  <fieldset class="aligned">
    <div class="form-row field-username{% if form.errors %} errros{% endif %}">
      <label class="required" for="id_username">Username:</label>
      <input type="text" name="username" autofocus required id="id_username" value="{{ form.username.value|default:"" }}" />
      <ul class="errorlist">
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="form-row field-email{% if form.errors %} errors{% endif %}">
      <label class="required" for="id_email">Email:</label>
      <input type="text" name="email" autofocus required id="id_email" value="{{ form.email.value|default:"" }}" />
      <ul class="errorlist">
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <input type="submit" value="Reset" name="_saveasnew" />

  </fieldset>

</form>
{% endblock content %}
