* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif;
  font-size: 16px;
}




/* ----------  */

.authentication-form button, .authentication-form input[type="submit"]{
  background-color: #3eb1c8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
}

.authentication-form input[type="text"], .authentication-form input[type="email"]{
  display: block;
  width: 50%;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #1b1e24;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e6e7e9;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.authentication-button {
  background-color: #ffffff;
  border: 3px solid #a6a6a6;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #4F5858;
  border-color: #4F5858;
}

.banner {
  color: #fff;
  background-color: #3eb1c8;
  border-color: #3eb1c8;
  padding: 0.5rem 0.8rem;

}
/*--------button--------*/

.btn-secondary {
  color: #fff;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}

.alert {
  color: #fff;
  background-color: #3eb1c8;
  border-color: #3eb1c8;
}

.btn-primary {
  color: #fff;
  background-color: #3eb1c8;
  border-color: #3eb1c8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4ebdd3;
  border-color: #4ebdd3;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0 rgba(89, 40, 122, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #3eb1c8;
  border-color: #3eb1c8;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3eb1c8;
  border-color: #3eb1c8;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(89, 40, 122, 0.5);
}

/*--------button--------*/
.content {
  margin: 0 auto;
  padding-top: 32px;
  width: 100%;
}

.header {
  border-bottom: 1px solid black;
  min-height: 68px;
  height: 68px;
  width: 100%;
}
.header .header-content {
  margin: 0 auto;
  /*width: 960px;*/
}
.header .header-content img {
  float: right;
  height: 58px;
}

.reset-password {
  background: white;
  box-shadow: 0 1px 5px black;
  font-weight: 400;
  margin: 79px auto;
  padding: 32px;
  width: 358px;
}
.reset-password .title {
  display: block;
  font-size: 18px;
  margin-bottom: 32px;
}
.reset-password p {
  margin-bottom: 32px;
}
.reset-password .group {
  margin-bottom: 32px;
}
.reset-password label {
  display: block;
  margin: 0 0 16px 16px;
}
.reset-password input {
  border: 0px solid #4F5858;
  font-size: 14px;
  height: 32px;
  margin-bottom: 10px;
  outline-offset: 1px;
  outline: 1px solid #4F5858;
  padding: 5px 16px;
  width: 100%;
}
.reset-password button {
  background: #3eb1c8;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 32px 0;
  outline: 1px solid #4F5858;
  padding: 16px;
  transition: background-color 0.2s linear;
  width: 100%;
}

/* Progress Bar */
.progress {
  background-color: #e9ecef;
  border-radius: .25rem;
  display: flex;
  font-size: .75rem;
  height: 1rem;
  overflow: hidden;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}
.progress-bar-danger {
  background-color: #dc3545;
}
.progress-bar-success {
  background-color: #28a745;
}
.progress-bar-warning {
  background-color: #ffc107;
}

/* Error messages */
.reset-password ul.errorlist {
  color: red;
}