{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
  {% block extrastyle %}{% endblock %}
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
  {% block extrahead %}{% endblock %}
  {% block responsive %}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
  {% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

  {% if not is_popup %}
  <!-- Header -->
  <div id="header">
    <div id="branding">
      {% block branding %}{% endblock %}
    </div>
    {% block usertools %}

    {% if has_permission %}
    <div id="user-tools">
      {% block welcome-msg %}
      {% trans 'Welcome,' %}
      <strong>{% firstof user.get_short_name user.get_username %}</strong>.
      {% endblock %}
      {% block userlinks %}
      {% if site_url %}
      <a href="{{ site_url }}">{% trans 'View site' %}</a> /
      {% endif %}
      {% if user.is_active and user.is_staff %}
      {% url 'django-admindocs-docroot' as docsroot %}
      {% if docsroot %}
      <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
      {% endif %}
      {% endif %}
      {% if user.has_usable_password %}
      <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
      {% endif %}
      <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
      {% endblock %}
    </div>
    {% endif %}
    {% endblock %}
    {% block nav-global %}{% endblock %}
  </div>
  <!-- END Header -->
  {% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
  </div>
  {% endblock %}
  {% endif %}

  {% block messages %}
  <div id="environment-banner"></div>
  {% if messages %}
  <ul class="messagelist">{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
  {% endif %}
  {% endblock messages %}

  <!-- Content -->
  <div id="content" class="{% block coltype %}colM{% endblock %}">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

    <!-- Custom for Crossref. Only display on admin page. -->
    {% if request.path == "/admin/" %}
    <p>Note that Crossref's nomenclature is a bit different in Django. Refer to the Support documentation for instructions for setting up new members.</p>
    <!---<ul>
      <li>User Credential is a User with an email username.</li>
      <li>Legacy Credential is a User with a non-email username.</li>
      <li>Legacy Role is called a Group.</li>
    </ul>--->
    <p>To reset a password select one or more Users, then choose 'Send reset emails' from the drop down and Go</p>
    <p>To add a new user credential, click <a href="{% url 'add_new_member' %}">Add new User Credential</a>. This can also be used to create a Role if one was not synced from the Admin tool.</p>
    <p>To migrate users to keycloak, click <a href="{% url 'migrate_users' %}">Migrate users to keycloak</a>.</p>
    <p></p>Otherwise, you can add edit users by clicking "Users" below.</p>
    <p>
      <a href="{% url 'add_new_member' %}" class="addlink">
        Add new User Credential
      </a>
    </p>
    {% endif %}


    {% block content %}

    {% block object-tools %}{% endblock %}
    {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    <br class="clear">
  </div>
  <!-- END Content -->

  {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
<script type="application/javascript" src="{% static 'js/get-environment.umd.min.js' %}"></script>
</body>
</html>
