{% extends "base.html" %}

{% block content %}

<div class="reset-password">

  <span class="title">Password Reset</span>

  <p>If you already use your email address as your username to login to Crossref services, simply enter your email address below, and we’ll email instructions for re-setting your password.</p>

  <p>If you do not login to Crossref services using your email address, contact our Support team <a href="https://www.crossref.org/contact/" target="_blank">here</a> for further details.</p>

  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
      {{ form.email.errors }}
      <label for="id_email">Email address</label>
      <input class="form-control" value="{{request.GET.email}}" type="email" name="email" maxlength="254" required id="id_email">
    </div>

    <button type="submit">Reset my password</button>

  </form>

</div>

{% endblock content %}
