{% extends "base.html" %}

{% block extra_head %}
  {# The zxcvbn_password app requires jQuery to modify the progress bar as a user types. #}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  {{ form.media }}
{% endblock %}

{% block content %}

<div class="reset-password">

  {% if validlink %}

  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  <p>Passwords can only contain the following characters: A-Z a-z 0-9 - _ . ~</p>

  <form method="POST">
    {% csrf_token %}

    <div class="group">
      {{ form.new_password1.errors }}
      <label for="id_new_password1">New password</label>
      <input class="password_strength" type="password" name="new_password1" required id="id_new_password1" />

      <div class="progress-bloc" style="margin-top: 10px;">
        <div class="progress" style="margin-bottom: 10px;">
          <div class="progress-bar password_strength_bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="3" aria-valuemax="4" style="width: 0%;">
          </div>
        </div>
      </div>
    </div>

    <div class="group">
      {{ form.new_password2.errors }}
      <label for="id_new_password2">Confirm password</label>
      <input class="password_confirmation" type="password" name="new_password2" data-confirm-with="id_new_password1" required="" id="id_new_password2" />
    </div>

    <button type="submit">Change my password</button>

  </form>

  {% else %}
  <p>The password reset link was invalid.</p>

  <p>Please <a href="{% url 'password_reset' %}">request</a> a new password reset.</p>
  {% endif %}

</div>

{% endblock content %}
